<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-size: 0.6em;
    }

    h6 {
        font-size: 1em;
    }

    .invoice {
        background: #fff;
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo {
        width: 4cm;
    }

    .document-type {
        text-align: right;
    }

    .conditions {
        font-size: 0.7em;
    }

    .bottom-page {
        font-size: 0.7em;
    }

    table {
        width: 100%;
        margin-top: 30px;
    }

    th,
    td {
        border: 1px solid rgb(129, 129, 129);
        width: 100%;
        border-radius:10px;
        align-self: center;
    }

    .th {
        text-align: center;
    }

    td {
        border-radius:10px;
        background-color: rgb(221, 214, 214);
    }

    .table-student {
        text-align: center;
        width: 50px;
        margin: 0;
        padding: 5px;
    }

    .photo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .table-date {
        text-align: center;
        width: 50px;
        margin: 0;
        padding: 0;

    }

    .table-date p {
        margin: 0;
        padding: 0;
    }

    .table-title {
        width: 100px;
        text-align: center;
    }

    .table-type {
        text-align: center;
        width: 70px;
    }

    .table-status {
        text-align: center;
        width: 70px;
    }

    .table-duration {
        text-align: start;
        width: 170px;
    }

    .table-total {
        text-align: center;
        width: 100px;
        border-radius:10px;
        background-color: rgb(221, 214, 214);
        font-weight: bold;
    }

    .bottom-page {
        text-align: center;
    }
</style>
